@use "variables" as *;

.contactForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea {
    color: $primaryColour;
    border: none;
    border-bottom: 2px solid $primaryColour;
    background-color: transparent;
    font-family: $bodyFont;
    font-size: clamp(1rem, 2vw, 1rem);
    padding: 0.5rem;
    // width: 100%;
}

textarea {
    border: 2px solid $primaryColour;
    resize: none;
}

button{
    margin-top: 0;
}