@use "variables" as *;

header{
    .logo{
        border: 2px solid $primaryColour;
        padding: 0.5rem;
    }
    .headerTextContainer{
        padding: 3rem 0;
        text-align: center;
    }
}