@use "variables" as *;

header{
    
    .logo{
        border: 2px solid $primaryColour;
        padding: 0.5rem;
    }
    .headerTextContainer{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}