@use "variables" as *;

header{
    
    .logo{
        border: 2px solid $primaryColour;
        border-radius: 5px;
        padding: 0.75rem 0.5rem;
        p{
            overflow: hidden;
            white-space: nowrap;
            margin: 0 auto;
            border-right: 10px solid $primaryColour;
            animation: typing 1.5s steps(5, end), blinkingCursor 1.5s step-end infinite;
        }

    }
    .headerTextContainer{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@keyframes typing {
    from {
      width: 0
    }
  
    to {
      width: 100%
    }
  }

@keyframes blinkingCursor {
    from{
        border-color: transparent
    }

    50% {
        border-color: $primaryColour
    }
}