@use "variables" as *;

section{
    padding: 2rem 0;
}

// ABOUT ME
.aboutFlexContainer{
    display: flex;
    gap: 2rem;
    .aboutImgContainer{
        flex: 1;
        img{
           border-radius: 5px;
        }
    }
    .aboutTextContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
}

// SKILLS
.skillsFlexContainer{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    .skillsText{
        flex:2;
    }
    .skillsList{
        flex:1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // gap: 2.5rem;
        li{
            text-align: center;
            width: calc((100%/4) - 8%);
            margin: 4%;
        }
    }
}

i{
    font-size: 2rem;
}

// PROJECTS
.projectContainer{
    padding-top: 3rem;
    display: flex;
    gap: 2rem;
    // &:nth-child(odd){
    //     flex-direction: row-reverse;
    // }
    .projectImgContainer{
        flex: 1;
    }
    .projectDescription{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // justify-content: space-around;
    }
}

// CONTACT ME
.contactFlexContainer{
    display: flex;
    gap: 3rem;
    .contactDetails{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .socialIcons {
            display: flex;
            gap: 1rem;
            i {
                transition: 0.3s;
                &:hover,
                &:focus {
                    color: $quaternaryColour;
                }
            }
        }
    }
    .formContainer{
        flex: 1;
    }
}