/****************************
    Break point: 1000px
*****************************/

@media (max-width: 1000px) {
    /* Styles for smaller DESKTOP and tablet devices go within this breakpoint */
    

    .aboutFlexContainer,
    .skillsFlexContainer,
    .contactFlexContainer{
        flex-direction: column;
    }


    // ABOUT
    .aboutFlexContainer{
        .aboutImgContainer{
            width: 60%;
        }
    }
}

/****************************
    Break point: 800px
*****************************/

@media (max-width: 800px) {
    /* Styles for tablet devices go within this breakpoint */

    // hide desktop nav
    .desktopNav {
        display: none;
    }

    // show mobile navigation
    .hamButtonContainer {
        display: block;
    }

    // PROJECTS:
    .projectList{
        .projectContainer{
            width: 100%;
        }
    }
}

/****************************
    Break point: 480px
*****************************/

@media (max-width: 480px) {
    /* Styles for MOBILE devices go within this breakpoint */
    header .headerTextContainer{
        gap: .5rem;
    }
    
    section{
        padding: 1rem 0;
    }

    .skillsFlexContainer{
        .skillsList{
            li{
                width: calc((100%/2) - 8%);
            }
        }
    }

    // CONTACT ME
    .contactFlexContainer{
        .contactDetails{
            .socialIcons {
                justify-content: space-around;
            }
        }
    }
}

