@use "variables" as *;

.navBar{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desktopNav ul{
    display: flex;
    font-family: $headingFont;
    li{
        padding-left: 2rem;
    }
}