// COLOURS:
$primaryColour: #212529;
$secondaryColour: #495057;
$tertiaryColour: #ADB5BD;
$quaternaryColour: #DEE2E6;
$quinaryColour: #F8F9FA;


// FONTS:
$headingFont: 'montserrat';
$bodyFont: 'openSans';
$baseFontSize: 1rem;