// COLOURS:
$primaryColour: #212529;
$secondaryColour: #F8F9FA;
$tertiaryColour: #DEE2E6;
$quaternaryColour: #ADB5BD;
$quinaryColour: #495057;

// // Alternate colour palette
// $primaryColour: #252422;
// $secondaryColour: #403D39;
// $tertiaryColour: #CCC5B9;
// $quaternaryColour: #FFFCF2;

// FONTS:
$headingFont: 'montserrat';
$bodyFont: 'openSans';
$baseFontSize: 1rem;