html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserratSemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserratRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "openSans";
  src: url("../fonts/openSans/openSansRegular.ttf");
  font-weight: 400;
}
html {
  font-size: 125%;
}

body {
  font-family: "openSans";
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: #212529;
  background-color: #F8F9FA;
  line-height: clamp(1.3rem, 3vw, 1.45rem);
  letter-spacing: 1px;
}

.logo {
  font-family: "montserrat";
  font-size: 1.5rem;
}

h1, h2, h3, h4, blockquote {
  font-family: "montserrat";
}

h1 {
  font-family: "montserrat";
  font-weight: 600;
  font-size: clamp(3rem, 5vw, 3.5rem);
  letter-spacing: 1px;
  line-height: clamp(3.5rem, 5vw, 4.5rem);
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

a {
  color: #212529;
}

button {
  font-family: "montserrat";
}

i {
  font-size: 2rem;
}

.projectContainer .projectDescription ul li {
  font-size: 0.8rem;
  color: #495057;
}

.wrapper {
  max-width: 1560px;
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 2rem 0;
}

button {
  margin-top: 1.5rem;
  color: #212529;
  background-color: #F8F9FA;
  padding: 15px 15px 10px 15px;
  border: 1px solid #212529;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  color: #F8F9FA;
  background-color: #212529;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  padding: 0;
  margin: 0;
}

.anchorUnderline {
  position: relative;
}

.anchorUnderline::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #212529;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.anchorUnderline:hover::after,
.anchorUnderline:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .logo {
  border: 2px solid #212529;
  border-radius: 5px;
  padding: 0.649rem 0.15rem;
  z-index: 50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .logo:hover, header .logo:focus {
  background-color: #212529;
}
header .logo a {
  border-right: 10px solid #212529;
  -webkit-animation: blinkingCursorB 1.5s step-end infinite;
          animation: blinkingCursorB 1.5s step-end infinite;
}
header .logo a:hover, header .logo a:focus {
  color: #DEE2E6;
  border-right: 10px solid #DEE2E6;
  -webkit-animation: blinkingCursorW 1.5s step-end infinite;
          animation: blinkingCursorW 1.5s step-end infinite;
}
header .headerTextContainer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@-webkit-keyframes blinkingCursorB {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #212529;
  }
}

@keyframes blinkingCursorB {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #212529;
  }
}
@-webkit-keyframes blinkingCursorW {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #DEE2E6;
  }
}
@keyframes blinkingCursorW {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #DEE2E6;
  }
}
.stickyNav {
  position: fixed;
  top: 0;
  background-color: #F8F9FA;
  opacity: 0.95;
  width: 100%;
  z-index: 40;
}

.navBar {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktopNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "montserrat";
  font-size: 1.5rem;
  line-height: 2rem;
  gap: 5rem;
}

.hamButtonContainer {
  display: none;
}

.hamButton {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0.15rem;
  right: 0.5rem;
  width: 40px;
  height: 40px;
  z-index: 40;
}
.hamButton:hover, .hamButton:focus {
  background: none;
}
.hamButton span,
.hamButton span::before,
.hamButton span::after {
  display: block;
  position: absolute;
  height: 3px;
  background-color: #212529;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 100%;
}
.hamButton span::before {
  content: "";
  top: -10px;
}
.hamButton span::after {
  content: "";
  top: 10px;
}

.hamButton.active span::before {
  -webkit-transform: rotate(-90deg) translate(-10px, 0px);
          transform: rotate(-90deg) translate(-10px, 0px);
  width: 100%;
}
.hamButton.active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
}
.hamButton.active span::after {
  -webkit-transform: rotate(90deg) translate(-10px, 0px);
          transform: rotate(90deg) translate(-10px, 0px);
  width: 100%;
}

.mobileNavContainer.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mobileNavContainer {
  background-color: #F8F9FA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.mobileNavContainer .mobileNavLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 30vh;
}
.mobileNavContainer .mobileNavLinks a {
  font-family: "montserrat";
  font-size: 2rem;
}

.aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.aboutFlexContainer .aboutImgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutFlexContainer .aboutImgContainer img {
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #ADB5BD;
          box-shadow: 5px 5px 5px #ADB5BD;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.aboutFlexContainer .aboutImgContainer .grayScale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.aboutFlexContainer .aboutTextContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.aboutFlexContainer .aboutTextContainer p {
  line-height: clamp(1.45rem, 3vw, 1.7rem);
}

.skillsFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.skillsFlexContainer .skillsText {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.skillsFlexContainer .skillsList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skillsFlexContainer .skillsList li {
  text-align: center;
  width: 17%;
  margin: 4%;
}
.skillsFlexContainer .skillsList li i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.skillsFlexContainer .skillsList li i:hover, .skillsFlexContainer .skillsList li i:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.projectContainer {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.projectContainer .projectImgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.projectContainer .projectDescription {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.projectContainer .projectDescription ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}
.projectContainer .projectDescription ul li {
  border: 1px solid #ADB5BD;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px #ADB5BD;
          box-shadow: 3px 3px 3px #ADB5BD;
  padding: 0 0.25rem;
}

.contactFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.contactFlexContainer .contactDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.contactFlexContainer .contactDetails a:hover, .contactFlexContainer .contactDetails a:focus {
  -webkit-text-decoration: solid underline 2px;
          text-decoration: solid underline 2px;
}
.contactFlexContainer .contactDetails .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.contactFlexContainer .contactDetails .socialIcons i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contactFlexContainer .contactDetails .socialIcons i:hover, .contactFlexContainer .contactDetails .socialIcons i:focus {
  color: #ADB5BD;
}
.contactFlexContainer .formContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.formContainer .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.formContainer .contactForm input,
.formContainer .contactForm textarea {
  color: #212529;
  border: none;
  outline: transparent;
  border-bottom: 1px solid #212529;
  background-color: transparent;
  font-family: "openSans";
  padding: 0.5rem;
}
.formContainer .contactForm textarea {
  border-radius: 5px;
  border: 1px solid #212529;
  resize: none;
}
.formContainer .contactForm button {
  margin-top: 0;
  border-radius: 5px;
}
.formContainer #myFormStatus {
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.formContainer #myFormStatus.success {
  background-color: rgb(211, 250, 153);
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}
.formContainer #myFormStatus.error {
  background-color: rgb(250, 129, 92);
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
footer {
  padding: 2rem 0 1rem 0;
  text-align: center;
  font-size: clamp(0.85rem, 2vw, 1rem);
}

/****************************
    Break point: 1000px
*****************************/
@media (max-width: 1000px) {
  /* Styles for smaller DESKTOP and tablet devices go within this breakpoint */
  .aboutFlexContainer,
  .skillsFlexContainer,
  .projectContainer,
  .contactFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutFlexContainer .aboutImgContainer {
    width: 60%;
  }
}
/****************************
    Break point: 480px
*****************************/
@media (max-width: 800px) {
  /* Styles for tablet devices go within this breakpoint */
  .desktopNav {
    display: none;
  }
  .hamButtonContainer {
    display: block;
  }
}
/****************************
    Break point: 480px
*****************************/
@media (max-width: 480px) {
  /* Styles for MOBILE devices go within this breakpoint */
  header .headerTextContainer {
    gap: 0.5rem;
  }
  section {
    padding: 1rem 0;
  }
  .skillsFlexContainer .skillsList li {
    width: 42%;
  }
  .contactFlexContainer .contactDetails .socialIcons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}