html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserratSemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserratRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "openSans";
  src: url("../fonts/openSans/openSansRegular.ttf");
  font-weight: 400;
}
html {
  font-size: 125%;
}

body {
  font-family: "openSans";
  font-size: 1rem;
  color: #212529;
  background-color: #F8F9FA;
  line-height: 1.45rem;
  letter-spacing: 1px;
}

.logo {
  font-family: "montserrat";
}

h1, h2, h3, h4, blockquote {
  font-family: "montserrat";
}

h1 {
  font-family: "montserrat";
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 1px;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  color: #212529;
}

button {
  font-family: "montserrat";
}

.wrapper {
  max-width: 1560px;
  width: 90%;
  margin: 0 auto;
}

button {
  margin-top: 1.5rem;
  color: #212529;
  background-color: #F8F9FA;
  padding: 15px 15px 10px 15px;
  border: 2px solid #212529;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  color: #F8F9FA;
  background-color: #212529;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  padding: 0;
  margin: 0;
}

header .logo {
  border: 2px solid #212529;
  padding: 0.5rem;
}
header .headerTextContainer {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktopNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "montserrat";
}
.desktopNav ul li {
  padding-left: 2rem;
}

section {
  padding: 3rem 0;
}

.aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.aboutFlexContainer .aboutTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.skillsFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.skillsFlexContainer .skillsText {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.skillsFlexContainer .skillsList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skillsFlexContainer .skillsList li {
  text-align: center;
  width: 17%;
  margin: 4%;
}

i {
  font-size: 2rem;
}

.projectContainer {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.projectContainer .projectImgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.projectContainer .projectDescription {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.contactFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.contactFlexContainer .contactDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.contactFlexContainer .contactDetails .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.contactFlexContainer .contactDetails .socialIcons i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contactFlexContainer .contactDetails .socialIcons i:hover, .contactFlexContainer .contactDetails .socialIcons i:focus {
  color: #ADB5BD;
}
.contactFlexContainer .formContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  color: #212529;
  border: none;
  border-bottom: 2px solid #212529;
  background-color: transparent;
  font-family: "openSans";
  font-size: clamp(1rem, 2vw, 1rem);
  padding: 0.5rem;
}

textarea {
  border: 2px solid #212529;
  resize: none;
}

button {
  margin-top: 0;
}

footer {
  text-align: center;
}

/****************************
    Break point: 1000px
*****************************/
@media (max-width: 1000px) {
  /* Styles for smaller DESKTOP and tablet devices go within this breakpoint */
  .aboutFlexContainer,
.skillsFlexContainer,
.projectContainer,
.contactFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutFlexContainer .aboutImgContainer {
    width: 60%;
  }
}
/****************************
    Break point: 480px
*****************************/
@media (max-width: 480px) {
  /* Styles for MOBILE devices go within this breakpoint */
  .skillsFlexContainer .skillsList li {
    width: 42%;
  }
}